/* -------------------- FONTS --------------------- */

/* bebas-neue-regular - latin */   /* Titles */
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/bebas-neue/bebas-neue-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Bebas Neue Regular'), local('BebasNeue-Regular'),
       url('./fonts/bebas-neue/bebas-neue-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/bebas-neue/bebas-neue-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/bebas-neue/bebas-neue-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/bebas-neue/bebas-neue-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/bebas-neue/bebas-neue-v1-latin-regular.svg#BebasNeue') format('svg'); /* Legacy iOS */
}
/* comfortaa-regular - latin */   /* Paragraphs */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/comfortaa/comfortaa-v28-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/comfortaa/comfortaa-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/comfortaa/comfortaa-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/comfortaa/comfortaa-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/comfortaa/comfortaa-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/comfortaa/comfortaa-v28-latin-regular.svg#Comfortaa') format('svg'); /* Legacy iOS */
}

/*  Icons  */
.feather-20{
    width: 22px;
    height: 22px;
}
/* svg-icon */
.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: grey;
}
.svg-icon path:hover,
.svg-icon polygon:hover,
.svg-icon rect:hover {
	fill: white;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}












/*--------------------  HEADERS   -----------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.serif,
.navbar-brand {
  font-weight: 400;
  font-family: 'Bebas Neue', cursive;
 }
p {
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}
h3 {
  font-size: 18px;
}
h2 {
  font-size: 44px;
}
h1 {
  font-size: 36px;
}















/* --------------------- NAVBARS ---------------------*/

/*           Black Navbar          */
.black-nav {
	display: block;
	height: 35px; 
	background: black;
}
.c1 {
	height: 100%;
	margin-right: 10%;
    margin-left: auto;
    float: right;
}
.nav-links{
	display: flex;   
	list-style: none;
	width: 45%;
	height: 100%;  /*all height from nav*/
	align-items: center;
	margin-left: auto;
}
.nav-links .li1 .a1 {
	color: grey;
	text-decoration: none;
	padding-left: 20px;
}
.nav-links .li1 .a1:hover {
	color: white;
}

/*                White Navbar          */
.navbar-brand{
  font-size: 36px;
}
.navbar-brand img{
  left:30px;
  width: 60px;
  height: auto; 
  padding-right: 10px;
}








/* --------------------- CAROUSEL --------------- */

/*               Carousel               */
#carouselSite{
  top: 0px;    /* com ou sem ? */
}












/*------------------------  MEDIAS  ----------------------*/

/*       black navbar       */
@media (max-width: 768px) {
	.c1 {
		margin-right: 15%;
	}
}
@media (max-width: 520px) {
	.c1 {
		margin-right: 20%;
	}
}
@media (max-width: 390px) {
	.c1 {
		margin-right: 25%;
	}
}

/*       white navbar     */
@media (max-width: 460px) {
	.navbar-brand{
		font-size: 30px;
	}
	.navbar-toggler-icon{
		width: 30px;
		height: 25px;
	}
}

@media (max-width: 390px) {
	.navbar-brand{
		font-size: 28px;
	}
	.navbar-toggler-icon{
		width: 25px;
	}
}

@media (max-width: 360px) {
	.navbar-brand{
		font-size: 25px;
	}
	.navbar-brand img{
		width: 45px;
		padding-right: 5px;
	}
	.navbar-toggler-icon{
		width: 24px;
	}
}













/*---------------------------------  DIVS & FOOTERS  ---------------------------------*/

/*                  Divs               */

.container{
	margin: auto;
}

#about .container{
	margin-bottom: 50px;
}

.img-fluid {
  border-radius: 5px;
  width: 50%;
  float: right;
  margin-left: 5px;
}
/*note: If an image has a height too high
#aboutx img {
	max-height: 450px;    height of text/div
}
@media (min-width: 1200px) {
	#about .container{
	    padding-top: 200px;  see padding of next container
    }
} */
/*     Media      */
@media (max-width: 768px) {
	.img-fluid {
		float: none;
		width: 100%;
		margin: 0 0 10px 0;
	}
}
@media (min-width: 992px) {
	#about .container{
	    margin-bottom: 100px;
    }
}




/*------------------------------------------ FOOTER ----------------------------------*/
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/#flexbox-background */
/* https://getbootstrap.com/docs/4.4/layout/grid/#row-columns */
footer{
	background: black;
	color: white;
	font-family: 'Comfortaa', cursive;
	padding: 4em 0 4em 0;
}
section.footer-text a {
	color: gray;
}
section.footer-text a:hover {
	color: white;
	text-decoration: none;
	transition: color 0.5s;
}
