/* bebas-neue-regular - latin */
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/bebas-neue/bebas-neue-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Bebas Neue Regular'), local('BebasNeue-Regular'),
       url('./fonts/bebas-neue/bebas-neue-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/bebas-neue/bebas-neue-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/bebas-neue/bebas-neue-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/bebas-neue/bebas-neue-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/bebas-neue/bebas-neue-v1-latin-regular.svg#BebasNeue') format('svg'); /* Legacy iOS */
}
/* comfortaa-regular - latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/comfortaa/comfortaa-v28-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/comfortaa/comfortaa-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/comfortaa/comfortaa-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/comfortaa/comfortaa-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/comfortaa/comfortaa-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/comfortaa/comfortaa-v28-latin-regular.svg#Comfortaa') format('svg'); /* Legacy iOS */
}

/*--------------------  Headers   -----------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.serif,
.navbar-brand {
  font-weight: 400;
  font-family: 'Bebas Neue', cursive;
 }
p {
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}
h3 {
  font-size: 18px;
}
h2 {
  font-size: 44px;
}
h1 {
  font-size: 36px;
}
/* -----------------------------------------------*/

/*-------------------- Black Navbar  --------------------*/
nav {
}
.c1 {
	height: 100%;
	margin-right: auto;
    margin-left: 20%;
}
.nav-links{
	display: flex;
	list-style: none;
	width: 50%;
	height: 100%;  /*all height from nav*/
	align-items: center;
	margin-left: auto;
}
.nav-links .li1 .a1 {
	font-family: 'Comfortaa';
	font-size: 15px; 
	color: grey;
	text-decoration: none;
	padding-left: 20px;
}
.nav-links .li1 .a1:hover {
	color: white;
}

/*------------------         White Navbar     -----------------*/
.navbar-brand{
  font-size: 36px;
}
.navbar-brand img{
  left:30px;
}

/*-------------------------        Carousel   --------------------*/
#carouselSite{
  top: 0px;    /* com ou sem? */
}
