/* -------------------- FONTS --------------------- */

/* bebas-neue-regular - latin */   /* Titles */
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/bebas-neue/bebas-neue-v1-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Bebas Neue Regular'), local('BebasNeue-Regular'),
       url('./fonts/bebas-neue/bebas-neue-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/bebas-neue/bebas-neue-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/bebas-neue/bebas-neue-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/bebas-neue/bebas-neue-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/bebas-neue/bebas-neue-v1-latin-regular.svg#BebasNeue') format('svg'); /* Legacy iOS */
}
/* comfortaa-regular - latin */   /* Paragraphs */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/comfortaa/comfortaa-v28-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/comfortaa/comfortaa-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/comfortaa/comfortaa-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/comfortaa/comfortaa-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/comfortaa/comfortaa-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/comfortaa/comfortaa-v28-latin-regular.svg#Comfortaa') format('svg'); /* Legacy iOS */
}

/*--------------------------------- ICONS ----------------------------*/

/* svg-icon */
.svg-icon {
  width: 1.5em;
  height: 1.5em;
}
.navbar-toggler .svg-icon path,
.navbar-toggler .svg-icon polygon,
.navbar-toggler .svg-icon rect {
	fill: black;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: white;
}

.svg-icon circle {
  stroke: white;
  stroke-width: 1;
}












/*--------------------  HEADERS   -----------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.serif,
.navbar-brand {
  font-weight: 400;
  font-family: 'Bebas Neue';
 }
p {
  font-size: 14px;
  font-family: 'Comfortaa';
}
h3 {
  font-size: 18px;
}
h2 {
  font-size: 44px;
}
h1 {
  font-size: 36px;
}

.text-center {
    text-align: center;
}




/* --------------------- NAVBARS ---------------------*/

#blacknavbar li a {                    
	color: grey;
	cursor: pointer;
}

#blacknavbar .svg-icon { 
	transition: all 0.3s ease-in-out;
	opacity: 0.3;
}
#blacknavbar .svg-icon:hover {
	opacity: 1;
	transition: opacity 0.3s;
	transform: scale(1.2);
}

#blacknavbar li a:hover {
	color: white;
	text-decoration: none;
	transition: color 0.5s;
}

/*                White Navbar          */
.navbar-brand{
  font-size: 36px;
}
.nav-item {
	font-weight: 300;
	font-family: 'Comfortaa';
	font-size: 14px;
}
.navbar-brand img{
  left:30px;
  width: 60px;
  height: auto; 
  padding-right: 10px;
}
#whitenav {
	border-bottom: 1px solid #D3D3D3;
}
#whitenavbar .nav-link {
	border-bottom: 3px solid transparent;
}
#whitenavbar .nav-link:after {
	display:block;
    content: '';
    border-bottom: solid 3px #228B22;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
#whitenavbar a {
	font-weight: 500;
	color: black;
}
#whitenavbar a:hover {
	color: green;
}
#whitenavbar .nav-link:hover:after { transform: scaleX(1); }
@media (max-width: 991px) {
	#whitenavbar .nav-link:hover:after {  transform-origin:  0% 50%; }
}

.navbar-toggler {
	border: none;
	cursor: pointer;
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navw:focus {
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #3e8914;
    transition: background-color 0.25s ease-in-out;
}

/*------------------------ NAVBAR MEDIAS ----------------------*/

/*       white navbar     */
@media (max-width: 460px) {
	.navbar-brand{
		font-size: 30px;
	}
	.navbar-toggler-icon{
		width: 30px;
		height: 25px;
	}
}

@media (max-width: 390px) {
	.navbar-brand{
		font-size: 28px;
	}
	.navbar-toggler-icon{
		width: 25px;
	}
}

@media (max-width: 360px) {
	.navbar-brand{
		font-size: 25px;
	}
	.navbar-brand img{
		width: 45px;
		padding-right: 5px;
	}
	.navbar-toggler-icon{
		width: 24px;
	}
}




/*------------------- OWL -----------------*/
.owl-theme .owl-dots .owl-dot {
    outline: none;
}
.owl-carousel {
	margin-top: 115px;
}
@media (max-width: 600px) {
	.owl-carousel {
		margin-top: 108px;
	}
}




/*------------------- INTRO -----------------*/
section .intro h2 {
	font-size: 60px;
	font-weight: 600;
	font-family:'AvenirMedium',Arial,sans-serif;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
}
@media (max-width: 700px)  {
	section .intro h2 {
		font-size: 40px;
	}
}
@media (max-width: 550px)  {
	section .intro h2 {
		font-size: 34px;
	}
}







/*---------------------------------  SOBRE & PROJETOS  ---------------------------------*/

/*                  Sobre | Projetos              */

.container {
	margin: auto;
}

/*               Containers with Images          */

/*            text           */
section p.info {
	color: #58595b;
	font-weight: 700;
}
section span.strong-line {
	color: black;
}
#about .container section {
	text-align: left;
}

/*            text + images          */

/* I > T:  Margin-bottom = (I - T) + 50
   T > I:  Margin-bottom = 50 - (T - I)   (T-I) > 50 -> M=50
*/
/* Sobre */
#about1 {
	margin-bottom: 50px;
}
#about2 {
	margin-bottom: 32px;
}
#about3 {
	margin-bottom: 9px;
}
#about4 {
	margin-bottom: 32px;
}
/* Projetos */
#equipe {
	margin-bottom: 50px;
	}
#mentorias  {
	margin-bottom: 34px;
}
#acoes {
	margin-bottom: 203px;
}
#oportunidades {
	margin-bottom: 180px;
}

/*               Media  (Sobre e Projetos)    */
@media (min-width: 992px) {
	#about1 {
	margin-bottom: 50px;
	}
	#about2 {
		margin-bottom: 32px;
	}
	#about3 {
		margin-bottom: 9px;
	}
	#about4 {
		margin-bottom: 32px;
	}
	
	#equipe {
	margin-bottom: 50px;
	}
	#mentorias  {
		margin-bottom: 34.5px;
	}
	#acoes {
		margin-bottom: 203px;
	}
	#oportunidades {
		margin-bottom: 180px;
	}
}

/*               Images            */

.img-fluid {
  border-radius: 5px;
  width: 50%;
  float: right;
  margin-left: 5px;
}

/*     Media Sobre     */
@media (max-width: 768px) {
	.img-fluid {
		float: none;
		width: 100%;
		margin: 0 0 10px 0;
	}
}


/*------------------------------------------ PROJETOS ----------------------------------*/
.card {
	border: none;
}
@media (max-width: 768px) {
	.card {
		margin-bottom: 50px;
	}
}



/*------------------------------------------ FOOTER ----------------------------------*/
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/#flexbox-background */
/* https://getbootstrap.com/docs/4.4/layout/grid/#row-columns */
footer{
	background: black;
	color: white;
	font-family: 'Comfortaa';
	margin-top: 40px;
	padding: 4em 0 4em 0;
}
section.footer-text a {
	color: white;
}
section.footer-text a:hover {
	color: gray;
	text-decoration: none;
	transition: color 0.5s;
}





/*--------------------------------------------------------------------------------------------------------*/



/*------------------------------------ NEWSLETTER --------------------------------*/
.home {
    position: absolute;
    top: 5px;
    left: 20px;
    padding: 5px 0;
}
.home a {
	color: #ffaa00;
}
.home a:hover {
	color: #ff4800;
}

.email-newsletter {
	text-align: center;
}
.email-newsletter input[type=email] {
	/*border-radius: 5px;*/
    color: #29303b;
    font-size: 18px;
    height: auto;
    padding: 10px 30px 10px 30px;
}
.email-newsletter fieldset {
	text-align: center;
}

fieldset {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    border: 0;
    min-width: 0;
}

.header-newsletter {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
form { 
margin: 0 auto; 
width:  300px;
}
.section-newsletter span {
	color: #ff0054;
}
.section-newsletter span.green {
	color: #8ac926;
}
.section-newsletter span.blue {
	color: #00a6ed;
}
.section-newsletter span.purple {
	color: #432371;
}
.section-newsletter span.orange {
	color: #ff703d;
}
.section-newsletter span.brown {
	color: #a3683c;
}
.section-newsletter span.yellow {
	color: #cc5803;
}


/*----------------------------------------------------------------------------------------------------------------*/



/*---------------------------- FAQ -------------------------*/

#container-FAQ section p.answer {
	color: #58595b;
	font-weight: 900;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*---------------------------- MEMBROS -------------------------*/
#container-membros .row .col {
	text-align: center;
	justify-content: center;
	padding: 0 10px;
	line-height: 1;
}
#container-membros .row .col h4 {
	padding-top: 10px;
	font-size: 24px;
}
#container-membros .row .col p {
	color: #58595b;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 8px;
}
#container-membros .row .col img {
	height: auto;
	width: 150px;
	border-radius: 5px;
}
#container-membros .row .col img:hover {
	opacity: 0.8;
	transition: opacity 0.5s;
}

.svg-membros {
	width: 1em;
	height: 1em;
	font-size: 30px; 
	opacity: 0.7;
	transition: all 0.3s ease-in-out;
}
.svg-membros:hover {
	opacity: 1;
	transition: opacity 0.3s;
	transform: scale(1.1);
}
